@import "/src/assets/scss/variables.scss";

.content-container {
    background-color: $application-corporate-color;
}

.navbar {
    background-color: $application-corporate-color;
    height: $header-height;
    max-width: $content-max-width;
    margin: 0 auto;
}

.navbar-options {
    display: flex;
}

.nav-link {
    color: $application-white-color;
    font-size: $header-options-font-size;
    margin-left: $header-options-margin;
    margin-right: $header-options-margin;
    padding: 8px;
}

.nav-link.active {
    font-weight: $header-options-active-font-weight;
    max-height: 46px;
    border-bottom: 1px solid #ffffff;
}
