//======================= SIZES =======================

$content-max-width: 1280px;
$header-height: 68px;
$page-height: calc(100vh - $header-height);
$scrollbar-width: 16px;
$user-section-container-width: 264px;

//====================== TEXTS ======================

$header-options-font-size: 16px;
$header-options-active-font-weight: 600;

$user-info-card-welcome-font-size: 16px;
$user-info-card-welcome-font-weight: 200;
$user-info-card-welcome-line-height: 20px;

//====================== MARGINS ======================

$header-options-margin: 8px;
$home-page--margin-top: 24px;
$home-page--margin-bottom: 24px;
$schedule-page--margin-top: 24px;
$schedule-page--margin-bottom: 24px;

//====================== COLORS ======================

$application-background-color: #f3f2f2;
$application-corporate-color: #000000;
$application-white-color: #ffffff;
$application-info-color: #808080;
$application-gold-color: #cf9b1d;
$application-scrollbar-color: #d1cfcf;

//======================= COMPONENTS ==================

$card-border: 0px;
$card-border-radius: 4px;
$card-box-shadow: 0px 2px 8px rgba(46, 43, 43, 0.2);

$user-info-card-img-width: 104px;
$user-info-card-img-height: 104px;
$user-info-card-img-border-radius: 50%;

$class-card-width: 248px;
$class-card-height: 280px;
$class-card-img-height: 176px;
