//====================== TEXTS ======================

$header-options-font-size: 20px;
$header-options-active-font-weight: 600;

//====================== MARGINS ======================

$header-options-margin: 8px;

//====================== COLORS ======================

$header-background-color: #000000;
$header-options-font-color: #ffffff;
