@import "/src/assets/scss/variables.scss";
.home-page-container {
    display: grid;
    grid-template-columns: 0.2fr auto;
    height: $page-height;
    overflow-y: hidden;
    background-color: $application-background-color;

    .user-section {
        margin-top: $home-page--margin-top;
        margin-bottom: $home-page--margin-bottom;
        padding: 0px 48px 0px 32px;
        height: auto;
    }
}

.user-info-card {
    margin-bottom: 16px;
}
