<div class="content-container">
    <div class="home-page-container">
        <div class="user-section">
            <div class="user-info-card">
                <app-user-info-card></app-user-info-card>
            </div>
            <div class="user-classes-card">
                <app-user-classes-card></app-user-classes-card>
            </div>
        </div>
        <div class="news-section">
            <div class="news-carousel">
                <app-news-carousel></app-news-carousel>
            </div>
        </div>
    </div>
</div>
