@import "/src/assets/scss/variables.scss";

::-webkit-scrollbar {
    width: $scrollbar-width;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: $application-scrollbar-color;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}
