<div class="card">
    <img
        src="https://via.placeholder.com/300"
        class="card-img-top"
        alt="Placeholder Image"
    />
    <div class="card-body">
        <h5 class="card-title">Lorem Ipsum News</h5>
        <p class="card-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
        <button type="button" class="btn more-info">Read More</button>
    </div>
</div>

