<div class="content-container">
    <div class="login-page-container">
        <div class="card mt-5">
            <img
                src="/assets/img/login_cover.jpg"
                alt="Logo"
                class="card-img-top"
            />
            <div class="card-body">
                <form>
                    <h5 class="card-body-title">
                        Super Simple Scheduling System
                    </h5>
                    <div class="mb-3">
                        <label for="username" class="form-label">
                            Username
                        </label>
                        <input
                            type="text"
                            class="form-control"
                            id="username"
                            placeholder="Enter your username"
                        />
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">
                            Password
                        </label>
                        <input
                            type="password"
                            class="form-control"
                            id="password"
                            placeholder="Enter your password"
                        />
                    </div>
                    <button type="submit" class="btn login-btn">Login</button>
                </form>
            </div>
        </div>
    </div>
</div>

